header {
    background-color: #6F3A1B;
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

main{
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

article{
    background-color: #1B506F;
    border-radius: 8px;
    margin: 5px;
    flex: 1;
    max-width: 200%;
}

h2{
    color: white;

}

img{
    border-radius: 100px;
    width: 100%;
}


footer{
    background-color: #6F3A1B;
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}