@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    width: 80%;
    margin: 0 auto;
}

span {
    background-color: white;
    border-radius: 20px;
    color: #354BF7;
    padding: 1px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    background-color: #C70039;
    padding: 15px;
    text-align: center;
    color: white;
}

h3 {
    font-size: 20px;
}

article:first-child {
    border-radius: 20px 20px 0px 0px;
    padding: 25px;
}

article {
    background-color: #354BF7;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    background-color: #C70039;
    border-radius: 7px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    outline: #C70039 solid;
    color: #C70039;
}

#cuadrado{
    background-color: #C70039;
    width: 100px;
    height: 70px;
    margin-bottom: 20px;
}
